@import "./variables.css";

* {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-0), var(--font-1), var(--font-2), var(--font-3),
		var(--font-4);
	padding: 0 !important;
}

a {
	color: white !important;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--font-header), var(--font-0), var(--font-1), var(--font-2),
		var(--font-3), var(--font-4);
	font-weight: bold;
}

p {
	line-height: 21px;
}

.nw {
	&-wrapper {
		max-width: var(--nw-max-width);
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
	&-page {
		padding-top: var(--header-height);
		min-height: calc(100vh - 60px);
		background-color: var(--main-color);
		@media (--xs) {
			padding-top: 137px;
		}
	}
	&-content-wrap {
		background-color: var(--main-color);
		> div {
			max-width: var(--nw-max-width);
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			margin: auto;
		}
	}
	&-button {
		@add-mixin nw-button-styles;
		color: white;
		background-color: var(--secondary-color-3);
		&:hover {
			background-color: #285da7;
		}
		&--inverse {
			@add-mixin nw-button-styles;
			color: var(--secondary-color-3);
			background-color: white;
			&:hover {
				opacity: 0.9;
			}
		}
	}
	&-section {
		padding-top: 78px;
		padding-bottom: 78px;
		@media (--md) {
			padding-top: 34px;
			padding-bottom: 34px;
		}
	}
	&-section-divider {
		@add-mixin dotted-line-styles var(--main-color);
	}
	&-section-divider-title {
		color: #777777;
	}
	&-section__title {
		flex-direction: row;
		@media (--md) {
			flex-direction: column;
		}
	}
	&-section__content {
		margin-top: 68px;
		@media (--md) {
			justify-content: center;
			margin-top: 34px;
		}
	}
}
