@import "./variables.css";

* {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-0), var(--font-1), var(--font-2), var(--font-3),
		var(--font-4);
	color: var(--main-color);
	padding: 0 !important;
}

a {
	color: var(--main-color);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: var(--font-header), var(--font-0), var(--font-1), var(--font-2),
		var(--font-3), var(--font-4);
	font-weight: bold;
}
