:root {
	/* darker grey; */
	--main-color: #3c3642;
	/* darker blue */
	--secondary-color-1: #102544;
	/* dark blue */
	--secondary-color-2: #17335c;
	/* blue */
	--secondary-color-3: #2f69bb;
	/* grey */
	--secondary-color-4: #33333340;
	/* almost white */
	--secondary-color-5: #ffffff12;
	--font-header: "Exo";
	--font-0: "Nunito Sans";
	--font-1: "sans-serif";
	--font-2: Verdana;
	--font-3: Tahoma;
	--font-4: FontAwesome;
}
